komorebi_flow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "subir-producto",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c3ea1eee-8bc6-4919-a972-24b88f28f531",
      "name": "Webhook",
      "webhookId": "09f2ed07-0e3e-45ed-af03-e1386139fd9b"
    },
    {
      "parameters": {
        "url": "={{ $json.query.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "84cae4a2-c921-4526-b993-4afe1d4e258d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "solo_descripcion",
              "cssSelector": "[id^=\"Product-content-tab\"] .rte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "29593b38-c5b6-4b4d-a8db-3f14adf20428",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como un extractor de datos profesional para Proyecto Komorebi. \nTu objetivo es analizar el HTML que te adjunto a continuación y devolver exclusivamente un objeto JSON.\n\nEstructura del JSON:\n- name: Nombre del producto\n- price: Precio (solo número)\n- description: Descripción optimizada para SEO\n- attributes: { Autora, Encuadernación, Páginas }\n- images: [Lista de URLs de imágenes]\n\nAquí tienes el código HTML real que debes procesar:\n{{ $node[\"HTTP Request\"].json[\"data\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "347bc958-8121-4a82-8126-46b503874110",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "product",
        "operation": "create",
        "name": "",
        "additionalFields": {},
        "dimensionsUi": {},
        "imagesUi": {},
        "metadataUi": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "16e2c31f-d4d1-46fa-b938-cf41ef399444",
      "name": "Create a product",
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "d9926935-f1e7-48b0-8564-6818440e2928",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "faulqDzFblBlxj2R",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a85a02f0-668f-426b-847e-8581ae2fe41e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab033b016bd9e5ddc5a2974775a61df6b5465f2b7120bba9d387a137ad3e2f40"
  },
  "id": "eFrgDTRXlzaHjszm",
  "tags": []
}